/* 全域字體 */
[_='{'], body, textarea, input, button, select, :is(}) { font-family: '等距更紗黑體 TC', 'Georgia', serif !important; }

/* 客製化 ScrollBar */
[_='{'], body, :is(}) { overflow-y: auto !important; scrollbar-width: thin; }
[_='{'], body ::-webkit-scrollbar, :is(}) { height: 5px; width: 5px; }
[_='{'], body ::-webkit-scrollbar-track, :is(}) { border-radius: 10px; }
[_='{'], body ::-webkit-scrollbar-thumb, :is(}) { border-radius: 5px; background: #999; }

/* top_bar 顏色 */
[_='{'], #top_bar > .bar-color, :is(}) { background: rgba(0, 0, 0, .4) !important; }

/* 主結構 */
._lch_ { height: 100%; }
._lch_ > ._lc_ { display: grid; grid-template-rows: 1fr auto auto; padding-bottom: 20px; }
._lch_ > ._lc_ > #timeline_holder { height: 100% !important; }
._lch_ > ._lc_ > #dashboard_holder { padding: 20px 0 0; margin: 0 auto; }
._lch_ > ._lc_ > #dashboard_holder > #plurk-dashboard { background: none; border: none; }
._lch_ > ._lc_ > footer { margin: 0 0 -10px; }
._lch_ > ._lc_ > footer > #footer { padding: 10px 8% 0; }
._lch_ > ._lc_ > footer > #footer a { color: #ff0f4b; }
._lch_ > ._lc_ > footer > #footer .copyright { display: none; }
._lch_ ~ .pop-window > .pop-window-view > .pop-window-content #theme-setting #custom-css { white-space: nowrap; }

/* 瀏覽箭頭下移 */
._lch_ > ._lc_ > #timeline_holder > .browse_button { top: unset !important; bottom: 57px; }

/* 時間軸過濾器上移 */
._lch_ > ._lc_ > .timeline_control { margin-top: 57px; }
._lch_ > ._lc_ > .timeline_control > #timeline_control_holder { bottom: unset; }
._lch_ > ._lc_ > .timeline_control > #timeline_control_holder > #filter_tab { display: flex; flex-direction: column-reverse; margin-top: -6px; }
._lch_ > ._lc_ > .timeline_control > #timeline_control_holder > #updater { top: 0; }

/* 隱藏廣告 */
._lch_ > ._lc_ > .plurk_box > #resp_banner_ads { display: none !important; }
._lch_ > ._lc_ > #timeline_holder > .timeline-cnt > .block_cnt > .plurk[data-respcount="廣告"] { display: none !important; }

/* 噗文格式調整 */
._lch_ > ._lc_ > #timeline_holder > .timeline-cnt > .block_cnt > .plurk { width: 380px; }
._lch_ > ._lc_ > #timeline_holder > .timeline-cnt > .block_cnt > .plurk > table { width: 100%; }
._lch_ > ._lc_ > #timeline_holder > .timeline-cnt > .block_cnt > .plurk > .pinned_plurk_icon { width: 14px; height: 14px; line-height: 12px; top: 14px; left: 15px; border-radius: 50%; padding-top: 1px; }
._lch_ > ._lc_ > #timeline_holder > .timeline-cnt > .block_cnt > .plurk > .plurk_icon { top: 4px; }
._lch_ > ._lc_ > #timeline_holder > .timeline-cnt > .block_cnt > .plurk > .plurk_icon:nth-last-of-type(1) { left: unset !important; right: 4px; }
._lch_ > ._lc_ > #timeline_holder > .timeline-cnt > .block_cnt > .plurk > .plurk_icon:nth-last-of-type(2) { left: unset !important; right: 22px; }
._lch_ > ._lc_ > #timeline_holder > .timeline-cnt > .block_cnt > .plurk > .plurk_icon:nth-last-of-type(3) { left: unset !important; right: 40px; }
._lch_ > ._lc_ > #timeline_holder > .timeline-cnt > .block_cnt > .plurk > .plurk_icon:nth-last-of-type(4) { left: unset !important; right: 58px; }
._lch_ > ._lc_ > #timeline_holder > .timeline-cnt > .block_cnt > .plurk > .plurk_icon:nth-last-of-type(5) { left: unset !important; right: 76px; }
._lch_ > ._lc_ > #timeline_holder > .timeline-cnt > .block_cnt > .plurk > .plurk_icon:nth-last-of-type(6) { left: unset !important; right: 94px; }
._lch_ > ._lc_ > #timeline_holder > .timeline-cnt > .block_cnt > .plurk .td_img { position: absolute; left: 0.9px; top: 0.9px; z-index: 1; }
._lch_ > ._lc_ > #timeline_holder > .timeline-cnt > .block_cnt > .plurk .td_img img { width: 22px; height: 22px; }
._lch_ > ._lc_ > #timeline_holder > .timeline-cnt > .block_cnt > .plurk .td_response_count { position: absolute; z-index: 1; display: flex; }
._lch_ > ._lc_ > #timeline_holder > .timeline-cnt > .block_cnt > .plurk .td_response_count .response_count { padding-right: 4.5px; }
._lch_ > ._lc_ > #timeline_holder > .timeline-cnt > .block_cnt > .plurk .plurk_cnt { padding: 0; border: 1px solid; border-radius: 0 0 5px 5px; background: rgba(255, 255, 255, 0.8); transition: background-color .4s; }
._lch_ > ._lc_ > #timeline_holder > .timeline-cnt > .block_cnt > .plurk.plurk_box .plurk_cnt { border-radius: 0; background: rgba(255, 255, 255, 1); }
._lch_ > ._lc_ > #timeline_holder > .timeline-cnt > .block_cnt > .plurk .plurk_cnt > table { width: 100%; }
._lch_ > ._lc_ > #timeline_holder > .timeline-cnt > .block_cnt > .plurk .plurk_cnt .tr_cnt { display: flex; flex-direction: column; }
._lch_ > ._lc_ > #timeline_holder > .timeline-cnt > .block_cnt > .plurk .plurk_cnt .tr_cnt > .td_qual { margin-left: 25px; flex: 0 0 23px; display: flex; align-items: center; }
._lch_ > ._lc_ > #timeline_holder > .timeline-cnt > .block_cnt > .plurk .plurk_cnt .tr_cnt > .td_cnt { padding: 5px; }
._lch_ > ._lc_ > #timeline_holder > .timeline-cnt > .block_cnt > .plurk .plurk_cnt .text_holder { width: 100%; min-height: 2em; max-height: 48px; transition: max-height .2s ease-out; }
._lch_ > ._lc_ > #timeline_holder > .timeline-cnt > .block_cnt > .plurk .plurk_cnt .manager { display: block; visibility: hidden; height: 0; padding-top: 0; margin-top: 0; }
._lch_ > ._lc_ > #timeline_holder > .timeline-cnt > .block_cnt > .plurk .plurk_cnt .manager > a { color: #b496d2; }
._lch_ > ._lc_ > #timeline_holder > .timeline-cnt > .block_cnt > .plurk.link_extend .plurk_cnt .text_holder { max-height: 900px !important; transition: max-height .3s ease-in; }
._lch_ > ._lc_ > #timeline_holder > .timeline-cnt > .block_cnt > .plurk.link_extend .plurk_cnt .manager { visibility: visible; height: auto; padding-top: 3px; margin-top: 4px; }
._lch_ > ._lc_ > .plurk_box { border: 1px solid #000; border-top: 0px; }

/* timeline 顏色 */
._lch_ > ._lc_ > #timeline_holder > #timeline_bg #bottom_line,
._lch_ > ._lc_ > #timeline_holder > #timeline_bg .bottom_start,
._lch_ > ._lc_ > #timeline_holder > #timeline_bg .bottom_end { background: #1e96e1; color: #fff; }

/* 個人資訊大改 */
/* 發文區 */
._lch_ > ._lc_ > #dashboard_holder > #plurk-dashboard > .dash-group-form { width: 100%; background: rgba(0, 0, 0, .75); border-radius: 6px; }
._lch_ > ._lc_ > #dashboard_holder > #plurk-dashboard > .dash-group-form > .dash-segment > .segment-content { margin: 0; min-height: 50px; padding: 6px; }
._lch_ > ._lc_ > #dashboard_holder > #plurk-dashboard > .dash-group-form #main_poster > .plurkForm { display: flex;  flex-wrap: wrap; align-items: center; padding: 0; margin: 0; }
._lch_ > ._lc_ > #dashboard_holder > #plurk-dashboard > .dash-group-form #main_poster > .plurkForm:after { content: unset; }
._lch_ > ._lc_ > #dashboard_holder > #plurk-dashboard > .dash-group-form #main_poster > .plurkForm > .input_holder { order: 1; flex: 1 0 50%; }
._lch_ > ._lc_ > #dashboard_holder > #plurk-dashboard > .dash-group-form #main_poster > .plurkForm > .input_holder > .qual_holder > .m_qualifier { background: #aaa; }
._lch_ > ._lc_ > #dashboard_holder > #plurk-dashboard > .dash-group-form #main_poster > .plurkForm > .icons_holder { order: 2; margin: 0; padding: 5px; display: flex; align-items: center; gap: 4px; }
._lch_ > ._lc_ > #dashboard_holder > #plurk-dashboard > .dash-group-form #main_poster > .plurkForm > .icons_holder:after { content: unset; }
._lch_ > ._lc_ > #dashboard_holder > #plurk-dashboard > .dash-group-form #main_poster > .plurkForm > .icons_holder > li { margin: 0; padding: 0; display: flex; justify-content: center; align-items: center; min-height: 30px; }
._lch_ > ._lc_ > #dashboard_holder > #plurk-dashboard > .dash-group-form #main_poster > .plurkForm > .submit_img { order: 3; margin: 0; background: #ff5a4b; }
._lch_ > ._lc_ > #dashboard_holder > #plurk-dashboard > .dash-group-form #main_poster > .plurkForm > .char_updater { order: 4; flex: 1 0 60%; color: #fff; }
._lch_ > ._lc_ > #dashboard_holder > #plurk-dashboard > .dash-group-form #main_poster > .plurkForm > .char_updater a { display: inline-block; margin-top: 5px; }
._lch_ > ._lc_ > #dashboard_holder > #plurk-dashboard > .dash-group-form #main_poster > .plurkForm > .plurk_to { order: 5; margin: 0; flex: 1 0 40%; display: flex; justify-content: flex-end; color: #fff; }
._lch_ > ._lc_ > #dashboard_holder > #plurk-dashboard > .dash-group-form #main_poster > .plurkForm > .plurk_to > span { margin-top: 5px; }
._lch_ > ._lc_ > #dashboard_holder > #plurk-dashboard > .dash-group-form #main_poster > .plurkForm > .drop_indicator { order: 6; }
/* 頭像自介區 */
._lch_ > ._lc_ > #dashboard_holder > #plurk-dashboard > .dash-group-left { position: fixed !important; top: 150px; right: -176px; width: 300px; padding: 10px 10px 10px 12px; color: white; background: rgba(0, 0, 0, 0.8); border-radius: 60px 0 0 60px; z-index: 2000; max-height: 120px; overflow: hidden; transition: max-height .3s ease-out, right .6s, border-radius 0.3s; }
._lch_ > ._lc_ > #dashboard_holder > #plurk-dashboard > .dash-group-left:hover { max-height: 34%; right: 0; border-radius: 8px 0 0 8px; }
._lch_ > ._lc_ > #dashboard_holder > #plurk-dashboard > .dash-group-left:hover ~ .dash-group-right { right: -290px; }
._lch_ > ._lc_ > #dashboard_holder > #plurk-dashboard > .dash-group-left:has(~ .dash-group-right:hover),
._lch_:has(~ .karma_tooltip:hover) > ._lc_ > #dashboard_holder > #plurk-dashboard > .dash-group-left { max-height: 34%; right: 298px; border-radius: 8px 0 8px 8px;  }
._lch_ > ._lc_ > #dashboard_holder > #plurk-dashboard > .dash-group-left > .dash-segment > .segment-content { margin: 0; padding: 0; }
._lch_ > ._lc_ > #dashboard_holder > #plurk-dashboard > .dash-group-left #dash-profile { height: 100px; }
._lch_ > ._lc_ > #dashboard_holder > #plurk-dashboard > .dash-group-left #dash-profile #profile_pic { width: 100px; height: 100px; border-radius: 50%; margin: 0; }
._lch_ > ._lc_ > #dashboard_holder > #plurk-dashboard > .dash-group-left #dash-profile > #full_name { margin-left: 120px; }
._lch_ > ._lc_ > #dashboard_holder > #plurk-dashboard > .dash-group-left #dash-profile > .profile-info { margin-left: 120px; }
._lch_ > ._lc_ > #dashboard_holder > #plurk-dashboard > .dash-group-left #dash-profile > .profile-info > #m_or_f { display: none; }
._lch_ > ._lc_ > #dashboard_holder > #plurk-dashboard > .dash-group-left #dash-profile > .profile-icons { left: 75px; right: unset; }
._lch_ > ._lc_ > #dashboard_holder > #plurk-dashboard > .dash-group-left #dash-additional-info { padding: 12px 0 0; }
._lch_ > ._lc_ > #dashboard_holder > #plurk-dashboard > .dash-group-left #dash-additional-info > #about_me a { color: #ff5a4b; }
._lch_ > ._lc_ > #dashboard_holder > #plurk-dashboard > .dash-group-left #dash-additional-info > #location_container { display: flex; justify-content: space-between; }
._lch_ > ._lc_ > #dashboard_holder > #plurk-dashboard > .dash-group-left #dash-additional-info > #location_container:after { content: 'more >'; }
._lch_ > ._lc_ > #dashboard_holder > #plurk-dashboard > .dash-group-left:has(~ .dash-group-right:hover) #dash-additional-info > #location_container:after,
._lch_:has(~ .karma_tooltip:hover) > ._lc_ > #dashboard_holder > #plurk-dashboard > .dash-group-left #dash-additional-info > #location_container:after { content: ''; }
._lch_ > ._lc_ > #dashboard_holder > #plurk-dashboard > .dash-group-left #dash-additional-info > #relationship_container { display: none; }
/* 帳號統計區 */
._lch_ > ._lc_ > #dashboard_holder > #plurk-dashboard > .dash-group-right { position: fixed !important; top: 150px; right: -466px; width: 300px; padding: 10px; color: white; background: rgba(255, 255, 255, 0.8); border-radius: 0 0 0 8px; z-index: 2001; transition: right .6s, background .3s; }
._lch_ > ._lc_ > #dashboard_holder > #plurk-dashboard > .dash-group-right:hover,
._lch_:has(~ .karma_tooltip:hover) > ._lc_ > #dashboard_holder > #plurk-dashboard > .dash-group-right { right: 0 !important; background: rgba(0, 0, 0, 0.8); }
._lch_ > ._lc_ > #dashboard_holder > #plurk-dashboard > .dash-group-right > .dash-segment > .segment-content { margin: 0; padding: 0; }
._lch_ > ._lc_ > #dashboard_holder > #plurk-dashboard > .dash-group-right #dash-stats { display: flex; flex-direction: column; align-items: center; }
._lch_ > ._lc_ > #dashboard_holder > #plurk-dashboard > .dash-group-right #dash-stats > h2 { display: none; }
._lch_ > ._lc_ > #dashboard_holder > #plurk-dashboard > .dash-group-right #dash-stats > .dash-stats-karma { margin: 0; }
._lch_ > ._lc_ > #dashboard_holder > #plurk-dashboard > .dash-group-right #dash-stats > .dash-stats-karma > .karma_hover { pointer-events: none; }
._lch_ > ._lc_ > #dashboard_holder > #plurk-dashboard > .dash-group-right #dash-stats > .dash-stats-karma > .karma_hover > #karma_arrow { pointer-events: all; }
._lch_ > ._lc_ > #dashboard_holder > #plurk-dashboard > .dash-group-right #dash-stats > #dash-stats-table { flex: 1; }
._lch_ > ._lc_ > #dashboard_holder > #plurk-dashboard > .dash-group-right #dash-stats > #dash-stats-table th { opacity: 1; }
._lch_ > ._lc_ > #dashboard_holder > #plurk-dashboard > .dash-group-right #dash-stats > #dash-stats-table td { color: #fff; }
._lch_ > ._lc_ > #dashboard_holder > #plurk-dashboard > .dash-group-right > .dash-segment-friends { width: 100; }
._lch_ > ._lc_ > #dashboard_holder > #plurk-dashboard > .dash-group-right > .dash-segment-friends #dash-friends > h2 { display: none; }
._lch_ > ._lc_ > #dashboard_holder > #plurk-dashboard > .dash-group-right > .dash-segment-friends #dash-friends > #friend_managment { margin-top: 10px; }
._lch_ > ._lc_ > #dashboard_holder > #plurk-dashboard > .dash-group-right > .dash-segment-friends #dash-friends > #dash-friends-pics ul li { margin: 2px; height: 35px; }
._lch_ > ._lc_ > #dashboard_holder > #plurk-dashboard > .dash-group-right > .dash-segment-fans { width: 100; }
._lch_ > ._lc_ > #dashboard_holder > #plurk-dashboard > .dash-group-right > .dash-segment-fans #dash-fans > h2 { display: none; }
._lch_ > ._lc_ > #dashboard_holder > #plurk-dashboard > .dash-group-right > .dash-segment-fans #dash-fans > #fan_managment { margin-top: 10px; }
._lch_ > ._lc_ > #dashboard_holder > #plurk-dashboard > .dash-group-right > .dash-segment-fans #dash-fans > #dash-fans-pics ul li { margin: 2px; height: 35px; }
._lch_ > ._lc_ > #dashboard_holder > #plurk-dashboard > .dash-group-right > .dash-segment-award { width: 100%; margin-top: 10px; }
._lch_ > ._lc_ > #dashboard_holder > #plurk-dashboard > .dash-group-right > .dash-segment-award .link_arrow { margin-top: 5px; }
._lch_ > ._lc_ > #dashboard_holder > #plurk-dashboard > .dash-group-right a { color: #ff5a4b; }

/* Sarasa Mono TC */
@font-face { font-family: '等距更紗黑體 TC'; font-style: normal; font-weight: 200; font-display: swap; src: url(https://yuanhuaiyu.github.io/fonts/SarasaMonoTC/SarasaMonoTC-ExtraLight.woff2) format('woff2'); }
@font-face { font-family: '等距更紗黑體 TC'; font-style: italic; font-weight: 200; font-display: swap; src: url(https://yuanhuaiyu.github.io/fonts/SarasaMonoTC/SarasaMonoTC-ExtraLightItalic.woff2) format('woff2'); }
@font-face { font-family: '等距更紗黑體 TC'; font-style: normal; font-weight: 300; font-display: swap; src: url(https://yuanhuaiyu.github.io/fonts/SarasaMonoTC/SarasaMonoTC-Light.woff2) format('woff2'); }
@font-face { font-family: '等距更紗黑體 TC'; font-style: italic; font-weight: 300; font-display: swap; src: url(https://yuanhuaiyu.github.io/fonts/SarasaMonoTC/SarasaMonoTC-LightItalic.woff2) format('woff2'); }
@font-face { font-family: '等距更紗黑體 TC'; font-style: normal; font-weight: 400; font-display: swap; src: url(https://yuanhuaiyu.github.io/fonts/SarasaMonoTC/SarasaMonoTC-Regular.woff2) format('woff2'); }
@font-face { font-family: '等距更紗黑體 TC'; font-style: italic; font-weight: 400; font-display: swap; src: url(https://yuanhuaiyu.github.io/fonts/SarasaMonoTC/SarasaMonoTC-Italic.woff2) format('woff2'); }
@font-face { font-family: '等距更紗黑體 TC'; font-style: normal; font-weight: 600; font-display: swap; src: url(https://yuanhuaiyu.github.io/fonts/SarasaMonoTC/SarasaMonoTC-SemiBold.woff2) format('woff2'); }
@font-face { font-family: '等距更紗黑體 TC'; font-style: italic; font-weight: 600; font-display: swap; src: url(https://yuanhuaiyu.github.io/fonts/SarasaMonoTC/SarasaMonoTC-SemiBoldItalic.woff2) format('woff2'); }
@font-face { font-family: '等距更紗黑體 TC'; font-style: normal; font-weight: 700; font-display: swap; src: url(https://yuanhuaiyu.github.io/fonts/SarasaMonoTC/SarasaMonoTC-Bold.woff2) format('woff2'); }
@font-face { font-family: '等距更紗黑體 TC'; font-style: italic; font-weight: 700; font-display: swap; src: url(https://yuanhuaiyu.github.io/fonts/SarasaMonoTC/SarasaMonoTC-BoldItalic.woff2) format('woff2'); }
